<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<header>
</header>

<body>
	<h1>My Mini Me</h1>

	<h1>What does your mini me look like</h1>
		 
	<div class="question">
	<h2>whats your skin tone</h2>
	<br>
	
	<input type="radio" id="q1a" name="q1">
	<label for="q1a">pale</label>
	<br>

	<input type="radio" id="q1b" name="q1">
	<label for="q1b">tan</label>
	<br>

	<input type="radio" id="q1c" name="q1">
	<label for="q1c">brown</label>
	<br>

	</div>
	
	<h2>what hair style do you have</h2>
	<br>
	
	<input type="radio" id="q2a" name="q2">
	<label for="q2a">low cut (boy)</label>
	<br>

	<input type="radio" id="q2b" name="q2">
	<label for="q2b">afro (boy/girl)</label>
	<br>

	<input type="radio" id="q2c" name="q2">
	<label for="q2c">twin buns (girl)</label>
	<br>

	<input type="radio" id="q2d" name="q2">
	<label for="q2d">pony tial and bangs (girl)</label>
	<br>

	</div>
	<div class="question">
	<h2>what shirt do you have on</h2>
	<img src="weapon_choice.gif" id="wepn" width="500px" height="500px">
	<br>

	<input type="radio" id="q3a" name="q3">
	<label for="q3a">black (ss)</label>
	<br>

	<input type="radio" id="q3b" name="q3">
	<label for="q3b">orange (ss)</label>
	<br>

	<input type="radio" id="q3c" name="q3">
	<label for="q3c">blue (ss)</label>
	<br>

	<input type="radio" id="q3d" name="q3">
	<label for="q3d">gray (ls)</label>
	<br>

	<input type="radio" id="q3e" name="q3">
	<label for="q3e">white (ls)</label>
	<br>

	<input type="radio" id="q3f" name="q3">
	<label for="q3f">purple (ls)</label>
	<br>
	
	</div>
	
	<div class="question">
	<h2>what type pants do you have on</h2>
	<img src="just_the_lifestyle.gif" width="500px" height="500px">
	<br>

	<input type="radio" id="q4a" name="q4">
	<label for="q4a">black jeans</label>
	<br>

	<input type="radio" id="q4b" name="q4">
	<label for="q4b">orange jeans</label>
	<br>

	<input type="radio" id="q4c" name="q4">
	<label for="q4c">blue jeans</label>
	<br>

	<input type="radio" id="q4d" name="q4">
	<label for="q4d">pink shorts</label>
	<br>
	
	<input type="radio" id="q4e" name="q4">
	<label for="q4e">yellow shorts</label>
	<br>

	<input type="radio" id="q4f" name="q4">
	<label for="q4f">black shorts</label>
	<br>

	</div>

</body>

</html>