<!DOCTYPE html>
<html>	
  <head>
    <link rel= "stylesheet" type= "text/css" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <title>Avatar quiz</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
  </head>

  <body>
    <main>

      <div id="quiz-wrapper">
      <div class="question">

      <h1>What is your character's personality?</h1>

      <h2>You see and old man crossing?</h2>
      <br>
      <input type="radio" id="q1a" name="q1">
      <label for="q1a">help walk him to safety</label>
      <br>

      <input type="radio" id="q1b" name="q1">
      <label for="q1b">walk past him</label>
      <br>

      <input type="radio" id="q1c" name="q1">
      <label for="q1c">push him</label>
      <br>
      <img src = "https://cdn.glitch.com/5328b537-3bd7-4315-bf2d-b7a1dff7e629%2Fold.gif?v=1564001287446" width = "250" height = "250">

      </div>
      <div class="question">
      <h2>You see a woman drop $100 on the ground?</h2>
      <br>
      <input type="radio" id="q2a" name="q2">
      <label for="q2a">pick it up give it back to her</label>
      <br>

      <input type="radio" id="q2b" name="q2">
      <label for="q2b">walk past it and say nothing</label>
      <br>

      <input type="radio" id="q2c" name="q2">
      <label for="q2c">pick it up and keep it</label>
      <br>
      <img src = "https://cdn.glitch.com/5328b537-3bd7-4315-bf2d-b7a1dff7e629%2Fmoney.png?v=1564001275874" width = "250" height = "250">

      </div>
        
        <div class="question">
        <h2>you are asked to donate to a poor famely</h2>
        <br>

        <input type="radio" id="q3a" name="q3">
        <label for="q3a">I don't have time for this trash</label>
        <br>

        <input type="radio" id="q3b" name="q3">
        <label for="q3b">give $12 towards the donations</label>
        <br>

        <input type="radio" id="q3c" name="q3">
        <label for="q3c">I'm sorry I don't have any extra cash</label>
        <br>

        <input type="radio" id="q3d" name="q3">
        <label for="q3d">flash your money in their faces and call them poor</label>
        <br>
        <img src= "https://res.cloudinary.com/pixel-art/image/upload/v1554279339/family/122892-family-pixel-art.png" width= "250" height= "250">
        </div>
      
          <div class="question">
          <h2>What lifestyle do you desire to live?</h2>
          <br>

          <input type="radio" id="q4a" name="q4">
          <label for="q4a">Just a normal one</label>
          <br>

          <input type="radio" id="q4b" name="q4">
          <label for="q4b">a rich life where everyone looks up to you</label>
          <br>

          <input type="radio" id="q4c" name="q4">
          <label for="q4c">A fun one with my friends!</label>
          <br>

          <input type="radio" id="q4d" name="q4">
          <label for="q4d">One where I get to bite people to death</label>
          <br>
          <img src="https://cdn.glitch.com/5328b537-3bd7-4315-bf2d-b7a1dff7e629%2Flife.jpg?v=1564001263672" width= "450" height= "250">
          </div>
            
            <div class="question">
            <h2>What type of animal do you like?</h2>
            <br>

            <input type="radio" id="q5a" name="q5">
            <label for="q5a">dog</label>
            <br>

            <input type="radio" id="q5b" name="q5">
            <label for="q5b">lion</label>
            <br>

            <input type="radio" id="q5c" name="q5">
            <label for="q5c">cat</label>
            <br>

            <input type="radio" id="q5d" name="q5">
            <label for="q5d">turtle</label>
            <br>
            <img src = "https://iconstore.co/wp-content/uploads/2016/07/animal-pixel-art-icons-featured.png" width= "250" height= "250">
            </div>

          <button id="submit-form" type="Submit">Submit</button>
          </div>
       
        <div id="results">
        </div>

  </main>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="script.js"></script>

      <script>
        $(document).ready(function(){

        $("#try-again").click(resetQuiz);
        $("#submit-form").click(processResults);
        let description= null;
        let portrait = null;


        function getPersonality(){

        let score = 0
        let personality = null;

        let bullyDictionary = {
        q1a: 4,
        q1b: 3,
        q1c: 2,
        q1d: 1
        };
        let bossDictionary = {
        q2a: 4,
        q2b: 3,
        q2c: 2,
        q2d: 1
        };
        let weaponDictionary = {
        q3a: 4,
        q3b: 3,
        q3c: 2,
        q3d: 1
        };
        let lifestyleDictionary = {
        q4a: 4,
        q4b: 3,
        q4c: 2,
        q4d: 1
        };
        let animeDictionary = {
        q5a: 4,
        q5b: 3,
        q5c: 2,
        q5d: 1
        };

        let q1 = $('input[name="q1"]:checked').attr('id');    
        let q2 = $('input[name="q2"]:checked').attr('id'); 
        let q3 = $('input[name="q3"]:checked').attr('id');
        let q4 = $('input[name="q4"]:checked').attr('id');
        let q5 = $('input[name="q5"]:checked').attr('id');

        score += bullyDictionary[q1]+ bossDictionary[q2]+ weaponDictionary[q3]+ lifestyleDictionary[q4]+ animeDictionary[q5];

        console.log(q1);
        console.log(q2);
        console.log(q3);
        console.log(q4);
        console.log(q5);
        console.log(score);

        if(score<=20 && score>=16){
        personality="Tsuna";
        description = "You are someone who's life doesn't always go right, but you know you'll be fine with your friends in the end. You only fight for your friends";
        portrait = "tsuna-san.jpg";
        console.log(personality);
        }
        else if(score<=16 && score>=11){
        personality="Gokudera";
        description = "You are someone who can only be open with few people. Otherwise you push people away and act like a delinquent, when truly you care. You fight to be there for your friends";
        portrait = "gokudera-san.jpg";
        console.log(personality);
        }
        else if(score<=10 && score>=6){
        personality="Yamamoto";
        description = "You are a happy go lucky person who is always positive. You show ignorance as your bravery for your friends even if you know you guys are in trouble. You fight to be a hero";
        portrait = "yamamoto-san.jpg";
        console.log(personality);
        }
        else if(score<=5 && score>=0){
        personality="Hibari";
        description="You are a distant a . You are mysterious. All fear you, and you distance yourself from crowds. You have pure heart...pure unadulturated wrath. You fight to fight.";
        portrait = "hibari-san.jpg";
        console.log(personality);
        }
        return personality;

        }

        function processResults(){
        let q1 = $('input[name="q1"]:checked').attr('id');    
        let q2 = $('input[name="q2"]:checked').attr('id'); 
        let q3 = $('input[name="q3"]:checked').attr('id');
        let q4 = $('input[name="q4"]:checked').attr('id');
        let q5 = $('input[name="q5"]:checked').attr('id');
        if(q1==null||q2==null||q3==null||q4==null||q5==null){
        alert("Shtop being shtupid! Answer all the ?'s!");
        }
        else{
        let personality = getPersonality();
        $("#quiz-wrapper").hide();
        $("#results").show();
        $("#try-again").show();
        $("#results").append("<h1>Congrats! Your personality is " +personality+"!</h1>");
        $("#results").append("<h1> "+description+":)</h1>");	
        $("#results").append('<img src="'+portrait+'">');
        }
        }

        function resetQuiz(){
        $("#try-again").hide();
        $("#results").hide();
        $("#quiz-wrapper").show();
        q1:checked=false;
        q2:checked=false;
        q3:checked=false;
        q4:checked=false;
        q5:checked=false;
        }

        });

      </script>
  </body>
</html>

<style>
body{
text-align: center;
font-family:'Press Start 2P', cursive;
position: center;
height: 200px;
background-color: white; /* For browsers that do not support gradients */
background-image: linear-gradient(to right, brown , red , orange); /* Standard syntax (must be last) */
}
#submit-form{
border-radius: 2px;
border-color: white;
font-size: 20px;
background-color: transparent;
}
}</style>