
Home.html

<!DOCTYPE html>
<html>
<head>
  <title>My Website</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="header">
  <h1>Our Website</h1>
  <p>A website created by our team</p>
</div>
​
<div class="navbar">
  <a href="https://elfin-twilight.glitch.me/Avatar.html
">Avatar</a>
  <a href="https://elfin-twilight.glitch.me/Quiz.html">Quiz</a>
  
</div>
​
<div class="row">
  <div class="side">
    <h2>About Us </h2>
    <h5>Sketches of each of us:</h5>
    <div class="fakeimg" style="height:200px;">Image</div>
  <p>We are the developers of this project</p>
    <h3>Our Project</h3>
    <p> This project </p>
    <div class="blank" style="height:60px;">Image</div><br>
    <div class="blank" style="height:60px;">Image</div><br>
    <div class="blank" style="height:60px;">Image</div>
  </div>
  <div class="main">
    <h2>Word</h2>
    <h5>Title description, Dec 7, 2017</h5>
    <div class="fakeimg" style="height:200px;">Image</div>
    <p>Some text..</p>
    <p></p>
    <br>
    <h2>TITLE HEADING</h2>
    <h5>Title description, Sep 2, 2017</h5>
    <div class="fakeimg" style="height:200px;">Image</div>
    <p>Some text..</p>
    <p></p>
  </div>
</div>
​
<div class="footer">
  <h2>Footer</h2>
  <a href="#" class="fa fa-google"></a>
</div>
</body>
</html>
